body{
    background-color: pink;
    width: 30%;
    text-align: center;
}
h1, header p {
    color: white;
}
h1:hover {
    color: black;
}
main p {
    text-align: left;
    font-weight: bold;
}
img {
    width: 40%;
}
